.button--only-icon {
	width: 36px;
	padding: 0;
}
.button--size-s.button--only-icon {
	width: 28px;
}
.button--size-xs.button--only-icon {
	width: 24px;
}
.button--size-xxs.button--only-icon {
	width: 20px;
}