.chip {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	padding: 0 12px;
	height: 36px;
	
	border-radius: 4px;
	background-color: var(--color-low-contrast-light-primary);
	cursor: pointer;

	transition: all 0.4s;
}
.chip:hover {
	background-color: var(--color-low-contrast-light-secondary);

	transition: all 0.4s;
}
.chip:active {
	background-color: var(--color-low-contrast-light-tertiary);

	transition: all 0.4s;
}
.chip--active,
.chip--active:hover,
.chip--active:active {
	color: var(--color-high-contrast-dark-primary);

	background-color: var(--color-accent-primary);

	transition: all 0.4s;
}
.chip .icon {
	display: block;
	width: 18px;
	height: 18px;

	fill: var(--color-high-contrast-light-secondary);
}
.chip--active .icon {
	fill: var(--color-high-contrast-dark-primary);
}

.chip--size-l {
	height: 56px;
	padding: 0 20px;
}
.chip--size-l .icon {
	width: 22px;
	height: 22px;
}
.chip--size-s {
	height: 22px;
	padding: 0 4px;
}
.chip--size-xs {
	height: 18px;
	padding: 0 4px;
}
.chip--size-xs .typography {
	line-height: 18px;
}
.chip--size-xs .icon {
	width: 16px;
	height: 16px;
}

@import 'style/--secondary.scss';
@import 'style/--tertiary.scss';